* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: rgb(42, 94, 232);
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    /* display: flex;
    flex-direction: column; */
    background-color: yellow;
}

button {
    border-radius: 30px;
    width: 6em;
    height: 3em;
    border: none;
}

button:hover {
    background-color: rgb(240, 113, 164);
}

button:active {
    background-color: #3145d5;
    box-shadow: 0 5px rgb(242, 113, 225);
    transform: translateY(4px);
}

.page-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* stile nav */
#nav-contained {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo, #login, #signin {
    min-width: 100px;
    min-height: 50px;
}

#links-bar {
    flex-grow: 1;
    max-width: 500px;

}

#links-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    list-style-type: none;
}

#links-bar ul li a:link {
    color: white;
    text-decoration: none;
    font-size: small;
}
/* /stile nav */


.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#jumbo-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: white;
    padding: 100px;
}

#jumbo-inner h1 {
    padding-bottom: 20px;
}

#jumbo-inner p {
    text-align: center;
}

.bottoni-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-header {
    width: 200px;
    height: 50px;
    font-size: large;
}

.btn-header.btn-scarica {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: larger;
}

.btn-header.btn-apri {
    background-color: black;
    color: white;
    width: 350px;
}

button.btn-header:hover {
    background-color: rgb(240, 113, 164);
}

button.btn-header:active {
    background-color: #3145d5;
    box-shadow: 0 5px rgb(242, 113, 225);
    transform: translateY(4px);
}



/* blocchi da inserire nel main */
.blocco {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
    /* debug */
    background-color: deeppink;
    border: 1px solid blue;
}

/* stilizzazione della struttura dei blocchi */
.immagine {
    width: 60%;
    height: 100%;
    min-width: 300px;


    /* debug */
    border: 1px solid black;
    background-color: coral;
}

.testo {
    width: 40%;
    height: 100%;
    
    /* debug */
    border: 1px solid black;
    background-color:deeppink;
}

#blocco-grande {
    flex-direction: column;
    align-items: center;
}

#blocco-grande .testo {
    width: 100%;
    height: 30%;

    border: 1px solid brown;
    background-color: cadetblue;
}

#blocco-grande .immagine {
    width: 100%;
    height: 70%;
}

#ultimo-blocco {
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: bisque;
}

#ultimo-blocco .testo {
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:olive;
}


#footer-container {
    width: 100%;
    padding-top: 20px;

    display: flex;
    flex-direction: row;
}

.lista-footer {
    width: 20%;
    height: 100%;


    display: flex;

    /* debug */
    background-color: rgb(169, 0, 0);
}

.lista-footer ul {
    display: flex;
    flex-flow: column;
    list-style-type: none;
}

.lista-footer li {
    width: 60px;
    height: 30px;
}

/* debug per controllare dov'è l'hr*/
hr {
    height: 5px;
    background: black;
}

#footer-bar {
    width: 100%;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
}
