* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav {
    background-color: rgb(42, 94, 232);
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgb(35, 39, 42);
}

button {
    border-radius: 30px;
    width: 6em;
    height: 3em;
    border: none;
}

button:hover {
    background-color: rgb(240, 113, 164);
}

button:active {
    background-color: #3145d5;
    box-shadow: 0 5px rgb(242, 113, 225);
    transform: translateY(4px);
}

.page-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* stile nav */
#nav-contained {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo, .login-signin {
    min-width: 100px;
    min-height: 50px;
}

#links-bar {
    flex-grow: 1;
    max-width: 500px;

}

#links-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    list-style-type: none;
}

* a:link {
    color: white;
    text-decoration: none;
    font-size: small;
}

* a:visited {
    color: white;
}

/* stile jumbo nell'header */
.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#jumbo-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: white;
    padding: 100px;
}

#jumbo-inner h1 {
    padding-bottom: 20px;
}

#jumbo-inner p {
    text-align: center;
}

.bottoni-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-main {
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: 300;
}

.btn-main.btn-scarica {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: larger;
}

.btn-main.btn-apri {
    background-color: black;
    color: white;
    width: 350px;
}

button.btn-main:hover {
    background-color: rgb(240, 113, 164);
}

button.btn-main:active {
    background-color: #3145d5;
    box-shadow: 0 5px rgb(242, 113, 225);
    transform: translateY(4px);
}

/* /stile jumbo nell'header */


/* blocchi da inserire nel main */

.section-container {
    padding: 100px 0;
}

main .section-container:nth-of-type(even){
    background-color: rgb(246, 246, 246);
}

.blocco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-container:nth-of-type(2) .blocco {
    flex-direction: row-reverse;
}

.section-container:nth-of-type(4) {
    padding: 20px 0;
}

/* stilizzazione della struttura dei blocchi */
.immagine img {
    max-width: 550px;
    background-repeat: no-repeat;
    background-size: contain;
}

.testo {
    width: 100%;
    height: auto;
    padding: 30px;
}

.testo span {
    font-size: 2.3em;
}

.testo p {
    padding-top: 50px;
    font-size:medium;
    line-height: 2em;
}

.wave {
    opacity: 3%;
}

.wave.reversed {
    transform: scaley(-1);
}

/* ultimo blocco */
#blocco-grande {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;

    padding-bottom: 50px;
}

#blocco-grande .testo {
    text-align: center;
}

#blocco-grande > .immagine > img {
    min-width: 1000px;
}

.testo.stelline {
    width: 50%;
    font-size:xx-small;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-main.btn-ultimo {
    background-color: rgb(114, 137, 218);
    color: white;
}

/* / ultimo blocco */



/* footer */
#footer-container {
    width: 100%;
    padding: 80px 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 60px;
}

.lista-footer, .footer-chiusura {
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer-chiusura span {
    color: rgb(114, 137, 218);
    font-size: x-large;
}

#lingua {
    /* width: 100%; */
    display: flex;
    gap: 10px;
}

#lingua > span {
    color: white;
    font-size: small;
}

#lingua img {
    width: 15%;
}

.lista-footer ul {
    display: flex;
    flex-flow: column;
    list-style-type: none;
    row-gap: 20px;
}

.lista-footer li:first-child {
    color: rgb(114, 137, 218);
}

/* debug per controllare dov'è l'hr*/
hr {
    height: 2px;
    background: rgb(79, 93, 140);
}

#footer-bar {
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
}

button.btn-signin {
    background-color: rgb(114, 137, 218);
    color: white;
}
button.btn-signin:hover {
    background-color: rgb(240, 113, 164)
}
